body{
    margin: 0;
    padding-top: 800px;
    
}



h2{
  text-align:center;
    font-size: 30px;
    line-height: 1.2;
    font-family:'Shippori Mincho' ,monospace;
    font-weight: 300;
}

h1{
  text-align:center;
    font-size: 40px;
    line-height: 1.2;
    font-family:'Shippori Mincho B1',inherit;
    font-weight: 300;
}



h3{
  text-align:center;
    font-size: 30px;
    line-height: 1.2;
    font-family:'Shippori Mincho' ,monospace;
    font-weight: 300;
}


h4{
  text-align:center;
    font-size: 30px;
    line-height: 1.2;
    font-family:'Shippori Mincho' ,monospace;
    font-weight: 300;
}


h5{
  text-align:center;
    font-size: 30px;
    line-height: 1.2;
    font-family:'Shippori Mincho' ,monospace;
    font-weight: 300;
}


h6{
  text-align:center;
    font-size: 30px;
    line-height: 1.2;
    font-family:'Shippori Mincho' ,monospace;
    font-weight: 300;
}


h7{
  text-align:center;
    font-size: 30px;
    line-height: 1.2;
    font-family:'Shippori Mincho' ,monospace;
    font-weight: 300;
}


.menu{
    list-style: none;
    font-family:sans-serif;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}

#welcome{
    background:linear-gradient(purple,blue);

    position: absolute;
    overflow: hidden;
    height: 800px;
    color: white;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.83;
    display: table;
    width: 100%;
    height:100%;
    z-index: 9;
}

.profile{
    width: 180px;
    height: 195px;
    margin-bottom:50px;
    margin-top: 160px;
    border-radius: 50%;
}

.parllex.inner{
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align:middle;
}

#name{
    font-size: 30px;
    line-height: 1.2;
    font-family:'Shippori Mincho' ,cursive;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

.line1 {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 20px auto;
   
}
 
p{
    max-width:450px;
    margin: 25px auto;
    font-size: 17px;
    line-height: 1.3;
}



.link:hover{
    background-color:aqua ;
    color: black;
    
}


.link{
    float: left;
    color:#fff;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: fantasy;
    font-size: 18px;
    
}

.rpics{
    height: 700;
    width: 600;
}

#rpics{
    height: 600;
    width: 700;
}

#contact a{
    font-size: 30px;
}

#contact{
    font-size: 20
}

html{
    scroll-behavior: smooth;
   
}



button{
    background-color:lightpink;
}

#pic{
     transition: transform  .2s;
    border:  10px solid #AAAAAA;
    }
img:hover{
    transform: scale(0.9);
}